body {
    margin: 0;
}

header ul {
    background-color: slategray;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

header ul li {
    float: left;
}

header ul li a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    padding: 12px;
    margin: 5px;
    border-radius: 5px;
    /* Convierte estas etiquetas en bloques integros, 
    así los elementos se alinean automaticamente */
    display: block;
}

header ul li a:hover {
    background-color: cadetblue;
}